absl-py
aiosignal
antlr4-python3-runtime
appdirs
astor
astroid
async-generator
atari-py
backcall
box2d-py
cachetools
certifi
chardet
click
cloudpickle
colorama
cycler
Cython<3.0
decorator
dill
distlib
docker-pycreds
docopt
Farama-Notifications
fasteners
filelock
fonttools
frozenlist
future
gast
gin-config
gitdb
GitPython
glfw
google-auth
google-auth-oauthlib
google-pasta
grpcio
gtimer
gym==0.19.0
h5py
hydra-core
idna
imageio
importlib-metadata
importlib-resources
isort
jax-jumpy
Jinja2
joblib
json5
jsonpickle
jupyter
jupyterlab
jupyterlab-server
Keras-Applications
Keras-Preprocessing
kiwisolver
lazy-object-proxy
lockfile
Markdown
matplotlib
mccabe
mkl-fft
mkl-random
mkl-service
mock
monotonic
msgpack
munch
numpy<1.24
oauthlib
olefile
omegaconf
opencv-python
opt-einsum
pandas
pathtools
Pillow
pipreqs
platformdirs
protobuf
psutil
py-cpuinfo
pyasn1
pyasn1-modules
pygame
pyglet
pylint
PyOpenGL
pyparsing
python-dateutil
pytz
PyYAML
pyzmq
QtPy
ray
requests
requests-oauthlib
rsa
sacred
scikit-learn
scipy
seaborn
sentry-sdk
setproctitle
smmap
tensorboard
tensorboardX
tensorflow-estimator
tensorflow
termcolor
testpath
tomli
tomlkit
tqdm
typed-ast
urllib3
virtualenv
wandb
webencodings
Werkzeug
widgetsnbextension
wrapt
xmltodict
yarg
